<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/style.css" | absURL }}">

<title>Last.Backend</title>

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">