<div class="container-fluid deploy cloud_deploy">

    <div class="row">
        <div class="col-lg-4 third_text">
            <span class="blue_text">Build apps,</span><br>
            not infrastructure
            <hr>

            <div class="container-fluid deploy_cli">
                <div class="row">
                    <p class="source_pro">$ deploy <span>https://github.com/nick-sn</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 third_text">
            <span class="blue_text">Deploy anythings</span><br>
            in one command
            <hr>

            <div class="container-fluid deploy_cli">
                <div class="row">
                    <p class="source_pro">$ deploy it</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 third_text">
            <span class="blue_text">Run any apps</span><br>
            what you need
            <hr>

            <div class="container-fluid deploy_cli">
                <div class="row">
                    <p class="source_pro">$ deploy <span>redis</span></p>
                </div>
            </div>
        </div>
    </div>

</div>