<div class="container-fluid cli_main">
    <div class="container">

        <p class="source">
            Deploy apps without<br>
            leaving <span class="minion">the</span> command line
        </p>

    </div>

    <div class="container keyboard">

        <i class="fa fa-keyboard-o" aria-hidden="true"></i>

        <span class="cli_before_text">Type:</span>

        <code data-next-step class="data-next-step"></code>


        <i class="fa fa-long-arrow-right media-middle float-lg-right" aria-hidden="true"></i>

    </div>


    <div class="container main_cli_div">

        <div class="section lb-hm-cli">
            <div class="lb-hm-cli__i">
                <div class="lb-hm-cli__cli">
                    <div class="w-cli">
                        <div class="lb-hm-cli__cm cli_text">
                            <span>CLICK HERE TO START TYPING</span>
                        </div>
                        <div class="w-cli__i" contenteditable="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>