<div class="container-fluid bottom_nav">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <p>
                    PRODUCTS
                </p>

                <p>
                    <a href="{{ "products" | absURL }}">Overview</a>
                </p>

                <p>
                    <a href="{{ "cloud" | absURL }}">Cloud</a>
                </p>

                <p>
                    <a href="{{ "dedicated" | absURL }}">Dedicated</a>
                </p>

                <p>
                    <a href="{{ "enterprise" | absURL }}">Enterprise</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2">
                <p>
                    RESOURCES
                </p>

                <p>
                    <a target="_blank" href="https://blog.lastbackend.com/">Blog</a>
                </p>

                <p>
                    <a target="_blank" href="https://github.com/lastbackend/lastbackend/wiki/Getting-Started">Getting started</a>
                </p>

                <p>
                    <a target="_blank" href="https://github.com/lastbackend/lastbackend/wiki">Documentation</a>
                </p>

                <p>
                    <a target="_blank" href="https://github.com/lastbackend/lastbackend/wiki/API-Reference">API</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2">
                <p>
                    COMPANY
                </p>

                <p>
                    <a href="{{ "about" | absURL }}">About us</a>
                </p>

                <!--<p>-->
                    <!--<a href="#">Our customers</a>-->
                <!--</p>-->

                <!--<p>-->
                    <!--<a href="#">Contacts</a>-->
                <!--</p>-->
            </div>

            <div class="col-md-3 col-lg-2">
                <!--<p>-->
                    <!--SUPPORT-->
                <!--</p>-->

                <!--<p>-->
                    <!--<a href="#">Help</a>-->
                <!--</p>-->

                <!--<p>-->
                    <!--<a href="#">Status</a>-->
                <!--</p>-->
            </div>

            <div class="col-md-8 offset-md-4 col-lg-4 offset-lg-0">
                <div class="container">
                    <p>
                        SUBSCRIBE
                    </p>

                    <p>
                        <a target="_blank" href="https://twitter.com/LastBackend"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.facebook.com/lastbackend"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.reddit.com/r/Lastbackend/"><i class="fa fa-reddit" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/last-backend"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://angel.co/last-backend"> <i class="fa fa-angellist" aria-hidden="true"></i></a>
                    </p>

                    <p>
                        Subscribe to our newsletter
                    </p>

                    <div class="form-inline">
                        <input type="text" class="input_text"
                               placeholder="ENTER YOU E-MAIL ADRESS"><input onclick="sendEmail()" type="submit"
                                                                            class="input_submit"
                                                                            value="SUBMIT">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
