<div class="container-fluid ico_form_img">
    <p>
        <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_ico_contact_form.png">
    </p>

    <p class="second_text">
        Please tell us more about your project and we'll be in touch.
    </p>
</div>

<div class="container-fluid feedback">
    <div class="feedback_form text-lg-center container">
        <div class="form-group">

            <input type="text" class="l inter_name form-control" aria-describedby="emailHelp"
                   placeholder="First name *">

        </div>

        <div class="form-group">

            <input type="text" class="form-control inter_last_name" placeholder="Last name *">

        </div>

        <div class="form-group">

            <input type="email" class="inter_mail form-control" aria-describedby="emailHelp"
                   placeholder="E-mail *">

        </div>

        <div class="form-group">

            <input type="text" class="form-control inter_com" placeholder="Company *">

        </div>

        <div class="form-group">

            <textarea class="form-control" rows="6" placeholder="Send as a message *"></textarea>

        </div>

        <button onclick="sendEmail()" class="btn btn-secondary button_yellow">
            <span>SUBMIT</span>
        </button>
    </div>
</div>