<div class="container kinds_enterprise">
    <div class="row">
        <div class="col-lg-6 kinds_enterprise_left_blocks kinds_enterprise_top_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_app_platform.png">

            <p class="second_text">
                All-in-one an App Platform
            </p>

            <hr>

            <p class="third_text">
                Last.Backend provides a full set of infrastructure<br>
                services for containers, including storage services,<br>
                networing, server management, load balancing and more.
            </p>
        </div>

        <div class="col-lg-6 kinds_enterprise_top_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_automation.png">

            <p class="second_text">
                Full automation
            </p>

            <hr>

            <p class="third_text">
                Deploy from GitHub, Bitbucket, or Docker Hub<br>
                Built in Continuous integration & Delivery allowed you<br>
                to don't care about half of infrastructure issue.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 kinds_enterprise_left_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_container_orchestration.png">

            <p class="second_text">
                Containers orchestration
            </p>

            <hr>

            <p class="third_text">
               Turn all of you git repositories into containers<br>
                using our platform. Build containers for every<br>
                commit, automatically.
            </p>
        </div>

        <div class="col-lg-6">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_collaboration.png">

            <p class="second_text">
                Collaboration
            </p>

            <hr>

            <p class="third_text">
               Work in shared application stacks, and build more<br>
                great apps together. Manage team members and<br>
                collaborators across applications in different stages<br>
                of developmets.
            </p>
        </div>
    </div>
</div>