<div class="container-fluid preview about-preview">

    <div class="container">
        <p class="source">
            We are improving developers<br>
            experiense <span class="minion">via</span> innovate products
        </p>

        <p class="source_pro">
            Last.Backend is apps hosting built on Docker with command-line
            toolkit to deploy apps and manage infrastructure.
        </p>

        <p class="source_pro">
            Our system lets developers focus on their code without managing<br>
            infrastructure.
        </p>
    </div>

</div>