<div class="container-fluid team">
    <div class="row team_text">
        <p class="source_pro">
            We're more than a company.
        </p>

        <p class="minion">
            We're a family.
        </p>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Alexander<br>
                <span>CEO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Yulia<br>
                <span>COO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Konstantin<br>
                <span>Senior Software Engineer</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Nickolay<br>
                <span>UX & Product Designer</span>
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Name<br>
                <span>Software Engineer</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Name<br>
                <span>Software Engineer</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Name<br>
                <span>Software Engineer</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png" class="rounded-circle">

            <p>
                Name<br>
                <span>Software Engineer</span>
            </p>

        </div>
    </div>
</div>