<div class="container-fluid bottom_preview">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="source">
                Cloud hosting,<br>
                designed <span class="minion">for</span> developers
            </p>

            <p class="second_text">
                Pay as you go and not a penny more.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-8 offset-lg-2">

            <div class="text_after_success_email_send tases2">
                <p>
                    Thank you! We’ll notify you when your account will be ready to use.
                </p>
            </div>

            <div class="form-inline okay okay2">
                <div class="form-group">
                    <div class="input-group">

                        <input type="text" class="form-control email-form-in-preview email-form-2" placeholder="Enter your E-mail">

                    </div>
                </div>

                <button type="submit" onclick="sendEmail()" class="btn btn-secondary button_yellow">
                    <span>GET EARLY ACCESS</span>
                </button>

            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4 github-link">

            <p class="blue_text">
                LAST.BACKEND PaaS<br>
                <span class="third_text">Open-source Kubernetes-native platform.</span>
            </p>

            <hr>

            <a target="_blank" href="https://github.com/lastbackend/lastbackend">
                <div class="view-github">
                    <p>
                        VIEW ON GITHUB
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </p>
                </div>

            </a>
        </div>
    </div>
</div>
