<div class="container-fluid cli">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
                <div class="demo_page">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_h_demo_page.png">
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0 cli_div">
                <p class="second_text">
                    Deploy apps to sheared hosting
                </p>

                <p class="third_text">
                    Deploy projects to a production-quality enviroment.
                </p>

                <div class="deploy_cli_interactive">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/cli_3.gif">
                </div>

                <a href="https://github.com/lastbackend/lastbackend">
                    <button class="btn btn-secondary blue_back_white_text_button">SEE IN ACTION</button>
                </a>
            </div>
        </div>
    </div>
</div>