<div class="container-fluid map">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="second_text">
                Publish web apps globally with<br>
                a   single command and no setup required
            </p>

            <img data-lazy-src="{{ .Params.image }}" src="../img/l_im_map.png">

            <p class="second_text map_lower_text">
                Deploy to any custom domain
            </p>
        </div>

        <img data-lazy-src="{{ .Params.image }}" src="../img/l_h_domain_1.png" class="terminal">
    </div>
</div>