<!DOCTYPE html>
<html>

<head>

    {{ partial "head" . }}

    {{ partial "scripts" . }}

</head>

<body>

    {{ partial "nav" .}}

    {{ partial "home/preview" . }}

    {{ partial "home/deploy" . }}

    {{ partial "home/cli" . }}

    {{ partial "home/kinds" . }}

    {{ partial "home/auto" . }}

    {{ partial "home/map" . }}

    {{ partial "home/bottom_preview" . }}

    {{ partial "bottom_nav" . }}

    {{ partial "footer" . }}

    <script src="{{ "/js/slider.js" | absURL }}"></script>

    <script src="{{ "/js/deploy_cli.js" | absURL }}"></script>
</body>

</html>