<div class="container-fluid kinds dedicated_kinds">
    <div class="row">
        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_speed_up_development.png">

            <p class="blue_text">
                Hight-Perfomance hosting
            </p>

            <p class="third_text">
                Fast CPUs, enterprise SSD storage, world-class<br>
                datacenters and network.
            </p>
        </div>

        <div class="col-xs-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_deploy_in_seconds.png">

            <p class="orange_text">
               Deploy in seconds
            </p>

            <p class="third_text">
               Deploy apps via one command "$ git push"<br>
                or automatically from git repositories.
            </p>
        </div>

        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_run_any_apps.png">

            <p class="black_text">
                Docker integration
            </p>

            <p class="third_text">
               Turn all of your git repositories into containers<br>
                using our platform. Build containers for every<br>
                commit, automatically.
            </p>
        </div>
    </div>
</div>