<div class="container-fluid preview preview_dedicated">
    <div class="row">
        <!--<div class="col-lg-3">-->
            <!--<img data-lazy-src="{{ .Params.image }}" src="img/l_d_f_bg_left.png">-->
        <!--</div>-->

        <div class="col-md-12 offset-md-0 col-lg-6 offset-lg-3">
            <p class="source">
                High Perfomance<br>
                Dedicated Cloud
            </p>

            <p class="second_text">
                With Last.Backend Dedicated Cloud, you'll never<br>
                share resources with another customer.
            </p>

            <button class="btn btn-secondary button_yellow">
                <span>LET'S TALK</span>
            </button>
        </div>

        <!--<div class="col-lg-3">-->
            <!--<img data-lazy-src="{{ .Params.image }}" src="img/l_d_f_bg_right.png">-->
        <!--</div>-->
    </div>
</div>