<div class="container dedicated_pdf">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">

            <p class="source">
                Dedicated cloud
            </p>

            <p class="third_text">
                Last.Backend commercial solutions provide an out of the box PaaS<br>
                that gives IT Ops teams security and control over their enviroment,<br>
                while enabling developers to build applications in a self service way.
            </p>

            <p class="third_text">
                With a clear separation of concerns and robust tooling, organizations<br>
                are able to innovate faster, reduce costs and ensure security.
            </p>

            <p>
                <button class="btn btn-secondary blue_back_white_text_button">SEE IN ACTION</button>
            </p>

        </div>

        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">

            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png">

        </div>
    </div>
</div>