<div class="container-fluid preview about-preview philosophy">

    <div class="container">
        <p class="source">
            The Philosophy <span class="minion">of</span> Last.Backend
        </p>

        <p class="source_pro">
            Last.Backend is apps hosting built on Docker with connand-line<br>
            toolkit to deploy apps and manage infrastructure.
        </p>

        <p class="source_pro">
            Our system lets developers focus on their code without managing<br>
            infrastructure.
        </p>

        <p class="source_pro">
            Last.Backend is apps hosting built on Docker with connand-line<br>
            toolkit to deploy apps and manage infrastructure.
        </p>

        <p class="source_pro">
            Our system lets developers focus on their code without managing<br>
            infrastructure.
        </p>
    </div>

</div>