<div class="container-fluid team">
    <div class="row team_text">
        <p class="source_pro">
            We're more than a company.
        </p>

        <p class="minion">
            We're a family.
        </p>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/alexandr.png" class="rounded-circle">

            <p>
                Alex<br>
                <span>CEO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/julia.png" class="rounded-circle">

            <p>
                Iuliia<br>
                <span>COO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/konstantin.png" class="rounded-circle">

            <p>
                Konstantin<br>
                <span>Senior Software Engineer</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/nick.png" class="rounded-circle">

            <p>
                Nick<br>
                <span>UX & Product Designer</span>
            </p>

        </div>
    </div>
</div>