<div class="container timeline">
    <div class="row timeline-main">
        <p class="source">
            Over 3 year <span class="minion">of</span> building up<br>
            developers experience
        </p>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-1">
            <p class="year yl">
                2014<br>
                <span>Description</span>
            </p>
        </div>

        <div class="col-lg-4 d_r">
            Description
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-1 d_l">
            Description
        </div>

        <div class="col-lg-4 left_align">
            <p class="year yr">
                2015<br>
                <span>Description</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-1 d_l">
            Description
        </div>

        <div class="col-lg-4 left_align">
            <p class="year yr">
            </p>
        </div>
    </div>

    <div class="row y_2016">
        <div class="col-lg-4 offset-lg-1">
            <p class="year yl">
                2016<br>
                <span>Description</span>
            </p>
        </div>

        <div class="col-lg-4 d_r">
            Description
        </div>
    </div>

    <div class="row tbc">
        <div class="col-lg-6 offset-lg-3 text-lg-center">
                To be continued...
        </div>
    </div>
</div>