<div class="container-fluid preview preview_dedicated">
    <div class="row">

        <div class="col-md-12 offset-md-0 col-lg-6 offset-lg-3">
            <p class="source">
               A platform for Creating,<br>
                Scaling, <span class="minion">and</span> Managing Apps
            </p>

            <p class="second_text">
               ----------- ---- ---- ---- ---- --- --- ---
            </p>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-8 offset-lg-2">

                <div class="form-inline okay">
                    <div class="form-group">
                        <div class="input-group">

                            <input type="text" class="form-control email-form-in-preview" placeholder="Enter your E-mail">

                        </div>
                    </div>

                    <button type="submit" onclick="sendEmail()" class="btn btn-secondary button_yellow">
                        <span>GET EARLY ACCESS</span>
                    </button>

                </div>

            </div>
        </div>


    </div>
</div>