<div class="container-fluid use-cases">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <p class="use-case_main_text source">
                USE CASES
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #01
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Dev / Test</h2>
                    <p class="third_text">
                        Last.Backend allows you to focus on code. With our Docker<br>
                        native workflow, and no VM clisters to manage or upfront<br>
                        planing to perform, developing on Last.Backend is the<br>
                        same as on your laptop. You know Docker, you know<br>
                        Last.Backend.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #02
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Infrastructure optimization</h2>
                    <p class="third_text">
                        Last.Backend is a cloud platform based on a managed<br>
                        container system. Containers contain only what's<br>
                        necessary to build and run applications. This allows<br>
                        enterprises to reduce the amount of storage and eliminate<br>
                        hypervisor licensing costs whithin their organizations.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #03
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Cl / CD</h2>
                    <p class="third_text">
                        Last.Backend is the best cloud hosting service to create<br>
                        your Cl / CD pipeline. No more long running costly VMs<br>
                        sitting waiting for build jobs. With Last.Backend you only<br>
                        pay for cloud resources.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #04
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Multi-language support</h2>
                    <p class="third_text">
                        Developers have the choice and the ability to run multiple<br>
                        languages and databases on the same platform. Allows<br>
                        customers to more easilly take advantage of the container<br>
                        eco-system.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #05
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Demo / Showcase</h2>
                    <p class="third_text">
                        Need to showcase your new project or app? Deploying to<br>
                        Last.Backend is incredible fast and with a few commands,<br>
                        your app is up and running for the world to see.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #06
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Application management</h2>
                    <p class="third_text">
                        Developers can create and manage applications utilizing a<br>
                        rich set of command-line tools, a powerful web interface.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>