<div class="container-fluid products_kinds">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-1 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_cloud.png">
                </p>

                <div class="media-body">
                    <h2 class="media-heading blue_text">LAST.BACKEND CLOUD</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend is a cloud platform based on a managed<br>
                container system, with a powerful ecosystem, for deploying<br>
                modern apps. Last.Backend Cloud is available in 9 locations<br>
                worldwide, spanning North US and West Europe.
            </p>

            <a href="{{ "cloud" | absURL }}">
                <button class="btn btn-secondary blue_background">TRY IT NOW!</button>
            </a>

        </div>

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_dedicated.png">
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">LAST.BACKEND DEDICATED</h2>
                </div>
            </div>

            <p class="third_text">
                With Last.Backend Dedicated Cloud, you can an entire<br>
                dedicated server with the advantages of the Last.Backend<br>
                Platform including hourly billing and fast provisioning!
            </p>

            <a href="{{ "dedicated" | absURL }}">
                <button class="btn btn-secondary orange_background">READ MORE</button>
            </a>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-1 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_os.png">
                </p>

                <div class="media-body">
                    <h2 class="media-heading green_text">LB PAAS & COMMAND-LINE TOOL</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend command-line tool provides for developers<br>
                possibility delpoy and run apps across Last.Backend Cloud<br>
                with just a few commands.
            </p>

            <a href="https://github.com/lastbackend/lastbackend">
                <button class="btn btn-secondary green_background">DOWNLOAD CLI</button>
            </a>

            <span>VIEW ON GITHUB  <i class="fa fa-github" aria-hidden="true"></i> </span>

        </div>

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_enterprise.png">
                </p>

                <div class="media-body black_text">
                    <h2 class="media-heading">LAST.BACKEND ENTERPRISE</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend gives us the ability to seamlessy and reliably<br>
                deploy several times in one day, something that took<br>
                cooperation, effort and maintenance in the previous<br>
                infrastructure.
            </p>

            <a href="{{ "enterprise" | absURL }}">
                <button class="btn btn-secondary black_background">READ MORE</button>
            </a>

        </div>

    </div>
</div>

<!--TODO выровнять кнопки-->
<!--TODO цвет в зеленом блоке у гитхаба-->