<div class="container-fluid enterprise_resources">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <p class="source resources_main_text">
                RESOURCES
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png">

            <p>
                Last.Backend Cloud, designed<br>
                for developers
            </p>
        </div>

        <div class="col-lg-4">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png">

            <p>
                Last.Backend Dedicated Cloud
            </p>
        </div>

        <div class="col-lg-4">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png">

            <p>
                Last.Backend Enterprise
            </p>
        </div>
    </div>
</div>