<div class="container-fluid bottom_preview">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="source">
                Cloud hosting,<br>
                designed <span class="minion">for</span> developers
            </p>

            <p class="second_text">
                Pay as you go and not a penny more.
            </p>

            <button class="btn btn-secondary button_yellow">
                <span>CREATE AN ACCOUNT</span>
            </button>
        </div>
    </div>
</div>