<div class="container-fluid kinds">
    <div class="row">
        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_cloud_hosting.png">

            <p class="blue_text">
                Cloud hosting
            </p>

            <p class="third_text">
                Last.Backend is a cloud platform based on a<br>
                managed container system, with a powerful<br>
                ecosystem, for deploying modern<br>
                apps.
            </p>

            <a href="{{ "cloud" | absURL }}"><button class="btn btn-secondary blue_background">TRY IT NOW!</button></a>

        </div>

        <div class="col-xs-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_dedicated.png">

            <p class="orange_text">
                Dedicated cloud
            </p>

            <p class="third_text">
                With Last.Backend Dedicated Cloud, you can an<br>
                entire dedicated server with the advantages of the<br>
                Last.Backend Platform including hourly billing and<br>
                fast provisioning!
            </p>

            <a href="{{ "dedicated" | absURL }}"><button class="btn btn-secondary orange_background">LEARN MORE</button></a>

        </div>

        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_enterprise.png">

            <p class="black_text">
                Enterprise
            </p>

            <p class="third_text">
                Last.Backend gives us the ability to seamlessly<br>
                and reliably deploy several times on one day.<br>
                something that took cooperation, effort and<br>
                maintenance in the previous infrastructure.
            </p>

            <a href="{{ "enterprise" | absURL }}"><button class="btn btn-secondary black_background">LEARN MORE</button></a>

        </div>
    </div>
</div>