<div class="container-fluid preview">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="source">
                Cloud hosting,<br>
                designed <span class="minion">for</span> developers
            </p>

            <p class="second_text">
                Pay as you go and not a penny more.
            </p>

            <button class="btn btn-secondary button_yellow">
                <span>CREATE AN ACCOUNT</span>
            </button>
        </div>
    </div>

    <div class="container slider">
        <div class="di-slider-p__sp">
            <div class="di-slider-p__spr" data-calculator="0.009765625" data-decimal="2"
                 data-five="false"
                 data-is-memory="true" data-step="1">

                <div class="slider_text">
                    $ 1.25 / 128 MB Memory / month
                </div>

                <div class="range-slider">
                    <div class="range-slider-bar">
                        <div class="range-slider-progress"></div>
                    </div>

                    <div class="range-slider-handle">
                        <div class="range-slider-handle-inner"></div>
                    </div>

                </div>

                <p class="slider_text float-md-left float-lg-left">
                    <span class="slider_memory">${val}</span>
                </p>

                <p class="float-md-right float-lg-right slider_text">
                    <span class="slider_price">$ ${price} / mo</span>
                </p>

            </div>
        </div>
    </div>
</div>