<div class="container-fluid reviews">
    <div class="row">
        <div class="col-md-12 offset-md-0 col-lg-8 offset-lg-2">
            <p class="source">
                What our clients <span class="minion">are</span> saying
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 offset-md-0 col-lg-10 offset-lg-1 review_col">

            <div class="popover popover-top main_review_div review_div">
                <div class="popover-content">

                    <div class="media">
                        <p class="media-left">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </p>

                        <div class="media-body">
                            <span class=" source review_text">
                                Got sick of wrestling with Docker and PostgresSQL to tried out<br>
                                @lastbackend and very glad i did. Perfect solution.
                            </span>
                        </div>
                    </div>

                </div>
            </div>

                <div class="media author">
                    <p class="media-left">
                        <img data-lazy-src="{{ .Params.image }}" src="img/face_____.png" class="rounded-circle">
                    </p>

                    <div class="media-body">
                        Rainer Friederich CH<br>
                        <span class="author_text">Development lead at Wondrous Inc</span>
                    </div>
                </div>

        </div>

    </div>

    <div class="row seconds_reviews">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">

            <div class="popover popover-top review_div">
                <div class="popover-content">

                    <span class="source second_review">
                        Got sick of wrestling with Docker<br>
                        and PostgresSQL to tried out<br>
                        @lastbackend and very glad i did.<br>
                        Perfect solution.
                    </span>

                </div>
            </div>

            <div class="media author">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="img/face_____.png" class="rounded-circle">
                </p>

                <div class="media-body">
                    Rainer Friederich CH<br>
                    <span class="author_text">Development lead at Wondrous Inc</span>
                </div>
            </div>

        </div>

        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">

            <div class="popover popover-top review_div">
                <div class="popover-content">

                    <span class="source second_review">
                        Got sick of wrestling with Docker<br>
                        and PostgresSQL to tried out<br>
                        @lastbackend and very glad i did.<br>
                        Perfect solution.
                    </span>

                </div>
            </div>

            <div class="media author">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="img/face_____.png" class="rounded-circle">
                </p>

                <div class="media-body">
                    Rainer Friederich CH<br>
                    <span class="author_text">Development lead at Wondrous Inc</span>
                </div>
            </div>

        </div>

        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">

            <div class="popover popover-top review_div">
                <div class="popover-content">

                    <span class="source second_review">
                        Got sick of wrestling with Docker<br>
                        and PostgresSQL to tried out<br>
                        @lastbackend and very glad i did.<br>
                        Perfect solution.
                    </span>

                </div>
            </div>

            <div class="media author">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="img/face_____.png" class="rounded-circle">
                </p>

                <div class="media-body">
                    Rainer Friederich CH<br>
                    <span class="author_text">Development lead at Wondrous Inc</span>
                </div>
            </div>

        </div>
    </div>
</div>